@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Slab&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Roboto Slab", serif !important;
}

p,
li,
a,
label,
button {
    font-family: "Quicksand", sans-serif !important;
    overflow-wrap: anywhere;
}

.jumbotron {
    margin: 10px 25px;
}

@media screen and (max-width: 600px) {
    .jumbotron {
        margin: 50px 25px;
        padding: 1rem;
    }

    .jumbotron h1 {
        text-align: center;
        padding: 20px 0;
    }

    .jumbotron p {
        padding: 0 20px;
    }
}

.row {
    width: 100%;
}

.container {
    margin: 2% 10% !important;
    padding: 0 !important;
    max-width: 80%;
}
