.enroll.container {
    margin: 140px 30% !important;
    width: 40%;
}

.enroll input {
    background: #d5e2ee !important;
}

.enroll h2 {
    margin: 5% 0;
}

@media only screen and (max-width: 992px) {
    .enroll.container {
        margin: 5% !important;
        width: 100%;
    }

    .enroll h2 {
        margin: 30px 0;
        font-size: 4vw;
    }
}
