.home-container.container {
    margin-top: 50px !important;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.sliderImage {
    height: 100vh;
    object-fit: cover;
    width: 100%;
}

.slideButton {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: #fff;
    z-index: 1000;
}

.nextButton {
    right: 50px;
}

.prevButton {
    left: 50px;
}

.courseCard {
    cursor: pointer;
}

.courseCard > .cardBody {
    background: #fff;
    transition: transform 0.25s ease-out;
}

.courseCard:hover > .cardImg {
    filter: brightness(0.8);
    transition: filter 0.25s ease-out;
}

.courseCard:hover > .cardBody {
    transform: translateY(-30px);
}

.pageLoader {
    position: absolute;
    top: 50%;
    left: 50%;
}

.cardImg {
    height: 250px;
    object-fit: cover;
}

@media screen and (max-width: 992px) {
    .home-container {
        margin: 0 !important;
        padding: 0 !important;
        max-width: 100%;
    }

    .sliderImage {
        height: 50vw;
    }

    .cardImg {
        height: 180px;
    }
}
