.navItem {
    padding-left: 25px !important;
    padding-right: 0 !important;
}

.navigation button,
.navigation input {
    border-radius: 0 !important;
}

.navigation input {
    border: none !important;
    margin-right: 0 !important;
}

.navigation svg {
    vertical-align: initial;
}

.navigation .searchButton {
    border: 1px solid #3490dc;
}

@media screen and (min-width: 992px) {
    .navigation {
        padding: 15px 10%;
    }
}

@media screen and (max-width: 992px) {
    .navigation .form-group {
        width: 90%;
        margin: 5%;
        display: flex;
    }
}
